<!-- Aside -->
<div class="col-md-3">

    <div class="tab sitebar">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#1" data-toggle="tab">Nuevo</a>
            </li>
            <li>
                <a href="#2" data-toggle="tab">Popular</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <% if(latestArticles && latestArticles.length > 0) { %>
                    <% latestArticles.forEach(article => { %>
                        <div class="media">
                            <div class="media-left">
                                <a href="/single/<%= article.id %>">
                                    <img class="media-object" src="<%= article.image_src + '?width=80&height=80' %>" alt="Generic placeholder image">
                                </a>
                            </div><!--media-left-->
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/single/<%= article.id %>"><%= article.title %></a></h4>
                                <div class="item_meta"><%= article.formatted_created_at %></div>
                            </div><!--media-body-->
                        </div><!--media-->
                    <% }); %>
                <% } else { %>
                    <p>No latest articles data</p>
                <% } %>
            </div><!--tab-pane-->

            <div class="tab-pane" id="2">
                <% if(popularArticles && popularArticles.length > 0) { %>
                    <% popularArticles.forEach(article => { %>
                        <div class="media">
                            <div class="media-left">
                                <a href="/single/<%= article.id %>">
                                    <img class="media-object" src="<%= article.image_src + '?width=80&height=80' %>" alt="Generic placeholder image">
                                </a>
                            </div><!--media-left-->
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/single/<%= article.id %>"><%= article.title %></a></h4>
                                <div class="item_meta">
                                    <i class='fa fa-eye'></i>  <%= article.views %> <%= Number(article.views) === 1 ? 'visita' : 'visitas' %>
                                </div>
                            </div><!--media-body-->
                        </div><!--media-->
                    <% }); %>
                <% } else { %>
                    <p>No popular articles data</p>
                <% } %>
            </div><!--tab-pane-->
        </div><!--tab-content-->
    </div><!--tab-->

    <% if(asideAds && asideAds.length > 0) { %>
        <% asideAds.forEach(ad => { %>
            <div class="ad">
                <a href="<%= ad.external_ref %>" target="_blank">
                    <img class="img-responsive" src="<%= ad.image_src %>" alt="img" />
                </a>
            </div>
        <% }); %>
    <% } else { %>
        <p>No ad data</p>
    <% } %>
</div>