<%- include('layouts/header', { title: 'Gamer Plus - Categoría'}) %>

<!-- Feature Category Section & sidebar -->
<section id="feature_category_section" class="feature_category_section category_page section_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div>
					<p class="category_title"><%= categoryRef %></p>
				</div>
				<!-- Artículo principal -->
				<% if(featureArticleByCategory) { %>
				<div class="row">
					<div class="col-md-12">
						<div class="feature_news_item category_item">
							<div class="item">
								<div class="item_wrapper">
									<div class="item_img">
										<a href="/single/<%= featureArticleByCategory.id %>">
											<img class="img-responsive" src="<%= featureArticleByCategory.image_src + '?width=1200&height=900' %>" alt="Chania">
										</a>
									</div><!--item_img-->
									<div class="item_title_date">
										<div class="news_item_title">
											<h1><a href="/single/<%= featureArticleByCategory.id %>"><%= featureArticleByCategory.title %></a></h1>
										</div><!--news_item_title-->
										<div class="item_meta"><%= featureArticleByCategory.formatted_created_at %></div>
									</div><!--item_title_date-->
								</div><!--item_wrapper-->
								<div class="item_content"><%= featureArticleByCategory.subtitle %></div><!--item_content-->

								</div><!--item-->
							</div><!--feature_news_item-->
						</div><!--col-md-6-->
					</div>
					<% } else { %>
						<p>No feature article by category data</p>
					<% } %>

					<!-- Artículos secundarios -->
					<div class="row">
						<% if(articlesByCategory && articlesByCategory.length > 0) { %>
							<% articlesByCategory.forEach(article => { %>
								<div class="col-md-6">
									<div class="feature_news_item">
										<div class="item">
											<div class="item_wrapper">
												<div class="item_img">
													<a href="/single/<%= article.id %>">
														<img class="img-responsive" src="<%= article.image_src + '?width=800&height=600' %>" alt="Chania">
													</a>
												</div> <!--item_img-->
												<div class="item_title_date">
													<div class="news_item_title">
														<h2><a href="/single/<%= article.id %>"><%= article.title %></a></h2>
													</div>
													<div class="item_meta"><%= article.formatted_created_at %></div>
												</div><!--item_title_date-->
											</div> <!--item_wrapper-->
											<div class="item_content"><%= article.subtitle.shortBody(10) %></div>

										</div><!--item-->
									</div><!--feature_news_item-->
								</div><!--col-md-6-->
							<% }); %>
						<% } else { %>
							<p>No side articles by category data</p>
						<% } %>

					</div><!--row-->
				</div><!--col-md-9-->


				<%- include('layouts/aside') %>
			</div>
		</div>
</section><!--feature_category_section-->

<%- include('layouts/footer') %>