<%- include('layouts/header', { title: 'Gamer Plus - Home'}) %>

	<!-- Feature Carousel Section -->
	<section id="feature_news_section" class="feature_news_section section_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="feature_news_carousel">
						<div id="featured-news-carousal" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<% if(articles && articles.length > 0) { %>
									<% for(let i = 0; i < 2; i++) { %>
										<div class="item <%= i === 0 ? 'active' : '' %> feature_news_item">
											<div class="item_wrapper">
												<div class="item_img">
													<img class="img-responsive" src="<%= articles[i].image_src %>" alt="Noticia carrusel">
												</div> <!--item_img-->
												<div class="item_title_date">
													<div class="news_item_title">
														<h2><a href="#"><%= articles[i].title %></a></h2>
													</div>
													<div class="item_meta"><%= articles[i].formatted_created_at %></div>
												</div> <!--item_title_date-->
											</div> <!--item_wrapper-->

											<div class="item_content"><%= articles[i].subtitle %></div>

										</div><!--feature_news_item-->
									<% } %>
								<% } else { %>
									<p>No carousel article data</p>
								<% } %>


								<!-- Left and right controls -->
								<div class="control-wrapper">
									<a class="left carousel-control" href="#featured-news-carousal" role="button" data-slide="prev">
										<i class="fa fa-chevron-left" aria-hidden="true"></i>
									</a>
									<a class="right carousel-control" href="#featured-news-carousal" role="button" data-slide="next">
										<i class="fa fa-chevron-right" aria-hidden="true"></i>
									</a>
								</div>
							</div><!--carousel-inner-->
						</div><!--carousel-->
					</div><!--feature_news_carousel-->
				</div><!--col-md-6-->

				<div class="col-md-6">
					<div class="feature_news_static">
						<div class="row">
							<% if(articles && articles.length > 0) { %>
								<% for(let i = 2; i < 4; i++) { %>
									<div class="col-md-6">
										<div class="feature_news_item">
											<div class="item active">
												<div class="item_wrapper">
													<div class="item_img">
														<img class="img-responsive" src="<%= articles[i].image_src %>" alt="Chania">
													</div> <!--item_img-->
													<div class="item_title_date">
														<div class="news_item_title">
															<h2><a href="/single"><%= articles[i].title %></a></h2>
														</div>
														<div class="item_meta"><%= articles[i].formatted_created_at %></div>
													</div><!--item_title_date-->
												</div> <!--item_wrapper-->
												<div class="item_content"><%= articles[i].subtitle %></div>

											</div><!--item-->
										</div><!--feature_news_item-->
									</div>
								<% } %>
							<% } else { %>
								<p>No feature article data</p>
							<% } %>
						</div><!--row-->
					</div><!--feature_news_static-->
				</div><!--col-md-6-->
			</div><!--row-->
		</div><!--container-->
	</section><!--feature_news_section-->

    <!-- Feature Category Section & sidebar -->
    <section id="feature_category_section" class="feature_category_section section_wrapper">
	<div class="container">   
		<div class="row">
		   	<div class="col-md-9">
		   		<div class="category_layout">
			   		<div class="item_category red"><h2><a href="/category"><%= articles[4].category_name %></a></h2></div>
						<div class="row">
				   			<div class="col-md-7">
								<div class="item feature_news_item">
									<div class="item_wrapper">
										<div class="item_img">
											<img class="img-responsive" src="<%= articles[4].image_src %>" alt="Chania">
										</div><!--item_img--> 
										<div class="item_title_date">
											<div class="news_item_title">
												<h2><a href="#"><%= articles[4].title %></a></h2>
											</div><!--news_item_title-->
                                            <div class="item_meta"><%= articles[4].formatted_created_at %></div>
										</div><!--item_title_date-->
									</div><!--item_wrapper-->	
								    <div class="item_content"><%= articles[4].subtitle %></div><!--item_content-->

								</div><!--feature_news_item-->
				   			</div><!--col-md-7-->
				   			
				   			<div class="col-md-5">
								<div class="media_wrapper">
									<% if(articles && articles.length > 0) { %>
										<% for(let i = 5; i < 7; i++) { %>
											<div class="media">
												<div class="media-left">
													<a href="#"><img class="media-object" src="<%= articles[i].image_src %>" alt="Generic placeholder image"></a>
												</div><!--media-left-->
												<div class="media-body">
													<h3 class="media-heading"><a href="#"><%= articles[i].title %></a></h3>

													<p><%= articles[i].subtitle %></p>

												</div><!--media-body-->
											</div><!--media-->

										<% } %>
									<% } else { %>
										<p>No category article data</p>
									<% } %>
								</div><!--media_wrapper-->
								 
				   			</div><!--col-md-5-->
						</div><!--row-->
				</div><!--category_layout-->

		   		<div class="category_layout">
		   			<div class="item_category blue"><h2><a href="#"><%= articles[7].category_name %></a></h2></div>
					<div class="row">
						<div class="col-md-7">
							<div class="item feature_news_item">
								<div class="item_wrapper">
									<div class="item_img">
										<img class="img-responsive" src="<%= articles[7].image_src %>" alt="Chania">
									</div><!--item_img-->
									<div class="item_title_date">
										<div class="news_item_title">
											<h2><a href="#"><%= articles[7].title %></a></h2>
										</div><!--news_item_title-->
										<div class="item_meta"><%= articles[7].formatted_created_at %></div>
									</div><!--item_title_date-->
								</div><!--item_wrapper-->
								<div class="item_content"><%= articles[7].subtitle %></div><!--item_content-->

							</div><!--feature_news_item-->
						</div><!--col-md-7-->
			   			
			   			<div class="col-md-5">
							<div class="media_wrapper">
								<% if(articles && articles.length > 0) { %>
									<% for(let i = 8; i < 10; i++) { %>
										<div class="media">
											<div class="media-left">
												<a href="#"><img class="media-object" src="<%= articles[i].image_src %>" alt="Generic placeholder image"></a>
											</div><!--media-left-->
											<div class="media-body">
												<h3 class="media-heading"><a href="#"><%= articles[i].title %></a></h3>

												<p><%= articles[i].subtitle %></p>

											</div><!--media-body-->
										</div><!--media-->

									<% } %>
								<% } else { %>
									<p>No category article data</p>
								<% } %>
							</div><!--media_wrapper-->
			   			</div><!--col-md-5-->
			   		</div><!--row-->
		   		</div><!--category_layout-->
		   	</div><!--col-md-9-->

			<!-- Aside -->
		   	<div class="col-md-3">

				<div class="tab sitebar">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#1" data-toggle="tab">Latest</a></li>
						<li><a href="#2" data-toggle="tab">Popular</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="1">
							<% articles.forEach(article => { %>
								<% if(article.image_src.includes("list")) { %>
								<!-- TODO - Convertir las imagenes a 80x80 de los articulos recientes para que quepen en el aside -->
									<div class="media">
										<div class="media-left">
											<a href="#"><img class="media-object" src="<%= article.image_src %>" alt="Generic placeholder image"></a>
										</div><!--media-left-->
										<div class="media-body">
											<h4 class="media-heading"><a href="#"><%= article.title %></a></h4>
											<span class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-full"></i>
									</span>
										</div><!--media-body-->
									</div><!--media-->
								<% } %>
							<% }); %>
						</div><!--tab-pane-->

						<div class="tab-pane" id="2">
							<div class="media">
								<div class="media-left">
									<a href="#"><img class="media-object" src="/img/img-list4.jpg" alt="Generic placeholder image"></a>
								</div><!--media-left-->
								<div class="media-body">
									<h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
									<span class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-full"></i>
									</span>
								</div><!--media-body-->
							</div><!--media-->

							<div class="media">
								<div class="media-left">
									<a href="#"><img class="media-object" src="/img/img-list.jpg" alt="Generic placeholder image"></a>
								</div><!--media-left-->
								<div class="media-body">
									<h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
									<span class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-full"></i>
									</span>
								</div><!--media-body-->
							</div><!--media-->
						</div><!--tab-pane-->
					</div><!--tab-content-->
				</div><!--tab-->

				<div class="ad">
					<img class="img-responsive" src="/img/img-sitebar.jpg" alt="img" />
					<img class="img-responsive" src="/img/img-sitebar.jpg" alt="img" />
					<img class="img-responsive" src="/img/img-sitebar.jpg" alt="img" />
					<img class="img-responsive" src="/img/img-sitebar.jpg" alt="img" />
				</div><!--ad-->

				<div class="ad">
					<img class="img-responsive" src="/img/img-ad2.jpg" alt="img" />
				</div>
			</div>
		</div>
	</div>
	</section><!--feature_category_section-->

    <!-- Feature Video Item -->
    <section id="feature_video_item" class="feature_video_item section_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="feature_video_wrapper">
					<div class="feature_video_title"><h2>Featured Videos</h2></div>

					<div id="feature_video_slider" class="owl-carousel">
						<div class="item">
							<div class="video_thumb"><img src="/img/video.jpg" alt="Owl Image"></div>
							<div class="video_info">
								<div class="video_item_title"><h3><a href="#">Track & Fiels famous still in the craze of Runner world</a></h3></div><!--video_item_title-->
								<div class="item_meta"><a href="#">20Aug- 2015</a></div><!--item_meta-->
							</div><!--video_info-->
						</div>
						<div class="item">
							<div class="video_thumb"><img src="/img/video2.jpg" alt="Owl Image"></div>
							<div class="video_info">
								<div class="video_item_title"><h3><a href="#">Track & Fiels famous still in the craze of Runner world</a></h3></div><!--video_item_title-->
								<div class="item_meta"><a href="#">20Aug- 2015</a></div><!--item_meta-->
							</div><!--video_info-->
						</div>
						<div class="item">
							<div class="video_thumb"><img src="/img/video3.jpg" alt="Owl Image"></div>
							<div class="video_info">
								<div class="video_item_title"><h3><a href="#">Track & Fiels famous still in the craze of Runner world</a></h3></div><!--video_item_title-->
								<div class="item_meta"><a href="#">20Aug- 2015</a></div><!--item_meta-->
							</div><!--video_info-->
						</div>
						<div class="item">
							<div class="video_thumb"><img src="/img/video2.jpg" alt="Owl Image"></div>
							<div class="video_info">
								<div class="video_item_title"><h3><a href="#">Track & Fiels famous still in the craze of Runner world</a></h3></div><!--video_item_title-->
								<div class="item_meta"><a href="#">20Aug- 2015</a></div><!--item_meta-->
							</div><!--video_info-->
						</div>
						<div class="item">
							<div class="video_thumb"><img src="/img/video.jpg" alt="Owl Image"></div>
							<div class="video_info">
								<div class="video_item_title"><h3><a href="#">Track & Fiels famous still in the craze of Runner world</a></h3></div><!--video_item_title-->
								<div class="item_meta"><a href="#">20Aug- 2015</a></div><!--item_meta-->
							</div><!--video_info-->
						</div>
						<div class="item">
							<div class="video_thumb"><img src="/img/video3.jpg" alt="Owl Image"></div>
							<div class="video_info">
								<div class="video_item_title"><h3><a href="#">Track & Fiels famous still in the craze of Runner world</a></h3></div><!--video_item_title-->
								<div class="item_meta"><a href="#">20Aug- 2015</a></div><!--item_meta-->
							</div><!--video_info-->
						</div>
		            </div><!--feature_video_slider-->


		        </div><!--col-xs-12-->
	        </div><!--row-->
        </div><!--feature_video_wrapper-->
	</div><!--container-->
</section>

<%- include('layouts/footer') %>