<%- include('layouts/header', { title: 'Gamer Plus - Home'}) %>

	<!-- Feature Carousel Section -->
	<section id="feature_news_section" class="feature_news_section section_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="feature_news_carousel">
						<div id="featured-news-carousal" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<% if(carouselArticles && carouselArticles.length > 0) { %>
									<% carouselArticles.forEach((article, index) => { %>
										<div class="item <%= index === 0 ? 'active' : '' %> feature_news_item">
											<div class="item_wrapper">
												<div class="item_img">
													<a href="/single/<%= article.id %>">
														<img class="img-responsive" src="<%= article.image_src %>" alt="Noticia carrusel">
													</a>
												</div> <!--item_img-->
												<div class="item_title_date">
													<div class="news_item_title">
														<h2><a href="/single/<%= article.id %>"><%= article.title %></a></h2>
													</div>
													<div class="item_meta"><%= article.formatted_created_at %></div>
												</div> <!--item_title_date-->
											</div> <!--item_wrapper-->

											<div class="item_content"><%= article.subtitle.shortBody(10) %></div>

										</div><!--feature_news_item-->
									<% }); %>
								<% } else { %>
									<p>No carousel article data</p>
								<% } %>


								<!-- Left and right controls -->
								<div class="control-wrapper">
									<a class="left carousel-control" href="#featured-news-carousal" role="button" data-slide="prev">
										<i class="fa fa-chevron-left" aria-hidden="true"></i>
									</a>
									<a class="right carousel-control" href="#featured-news-carousal" role="button" data-slide="next">
										<i class="fa fa-chevron-right" aria-hidden="true"></i>
									</a>
								</div>
							</div><!--carousel-inner-->
						</div><!--carousel-->
					</div><!--feature_news_carousel-->
				</div><!--col-md-6-->

				<div class="col-md-6">
					<div class="feature_news_static">
						<div class="row">
							<% if(esportsFeatureArticles && esportsFeatureArticles.length > 0) { %>
								<% esportsFeatureArticles.forEach(article => { %>
									<div class="col-md-6">
										<div class="feature_news_item">
											<div class="item active">
												<div class="item_wrapper">
													<div class="item_img">
														<a href="/single/<%= article.id %>">
															<img class="img-responsive" src="<%= article.image_src %>" alt="Chania">
														</a>
													</div> <!--item_img-->
													<div class="item_title_date">
														<div class="news_item_title">
															<h2><a href="/single/<%= article.id %>"><%= article.title %></a></h2>
														</div>
														<div class="item_meta"><%= article.formatted_created_at %></div>
													</div><!--item_title_date-->
												</div> <!--item_wrapper-->
												<div class="item_content"><%= article.subtitle.shortBody(5) %></div>

											</div><!--item-->
										</div><!--feature_news_item-->
									</div>
								<% }); %>
							<% } else { %>
								<p>No esports feature article data</p>
							<% } %>
						</div><!--row-->
					</div><!--feature_news_static-->
				</div><!--col-md-6-->
			</div><!--row-->
		</div><!--container-->
	</section><!--feature_news_section-->

    <!-- Feature Category Section & sidebar -->
    <section id="feature_category_section" class="feature_category_section section_wrapper">
	<div class="container">   
		<div class="row">
		   	<div class="col-md-9">
		   		<div class="category_layout">
			   		<div class="item_category blue">
						<h2>
							<a href="/category/<%= playstationFeatureArticle.category_name.toLowerCase() %>"><%= playstationFeatureArticle.category_name %></a>
						</h2>
					</div>
						<div class="row">
				   			<div class="col-md-7">
								<div class="item feature_news_item">
									<div class="item_wrapper">
										<div class="item_img">
											<a href="/single/<%= playstationFeatureArticle.id %>">
												<img class="img-responsive" src="<%= playstationFeatureArticle.image_src %>" alt="Chania">
											</a>
										</div><!--item_img--> 
										<div class="item_title_date">
											<div class="news_item_title">
												<h2><a href="/single/<%= playstationFeatureArticle.id %>"><%= playstationFeatureArticle.title %></a></h2>
											</div><!--news_item_title-->
                                            <div class="item_meta"><%= playstationFeatureArticle.formatted_created_at %></div>
										</div><!--item_title_date-->
									</div><!--item_wrapper-->	
								    <div class="item_content"><%= playstationFeatureArticle.subtitle.shortBody(10) %></div><!--item_content-->

								</div><!--feature_news_item-->
				   			</div><!--col-md-7-->
				   			
				   			<div class="col-md-5">
								<div class="media_wrapper">
									<% if(playstationListArticles && playstationListArticles.length > 0) { %>
										<% playstationListArticles.forEach(article => { %>
											<div class="media">
												<div class="media-left">
													<a href="/single/<%= article.id %>">
														<img class="media-object" src="<%= article.image_src %>" alt="Generic placeholder image">
													</a>
												</div><!--media-left-->
												<div class="media-body">
													<h3 class="media-heading"><a href="/single/<%= article.id %>"><%= article.title %></a></h3>

													<p><%= article.subtitle.shortBody(10) %></p>

												</div><!--media-body-->
											</div><!--media-->

										<% }); %>
									<% } else { %>
										<p>No category article data</p>
									<% } %>
								</div><!--media_wrapper-->
								 
				   			</div><!--col-md-5-->
						</div><!--row-->
				</div><!--category_layout-->

		   		<div class="category_layout">
		   			<div class="item_category red">
						<h2>
							<a href="/category/<%= nintendoFeatureArticle.category_name.toLowerCase() %>"><%= nintendoFeatureArticle.category_name %></a>
						</h2>
					</div>
					<div class="row">
						<div class="col-md-7">
							<div class="item feature_news_item">
								<div class="item_wrapper">
									<div class="item_img">
										<a href="/single/<%= nintendoFeatureArticle.id %>">
											<img class="img-responsive" src="<%= nintendoFeatureArticle.image_src %>" alt="Chania">
										</a>
									</div><!--item_img-->
									<div class="item_title_date">
										<div class="news_item_title">
											<h2>
												<a href="/single/<%= nintendoFeatureArticle.id %>"><%= nintendoFeatureArticle.title %></a>
											</h2>
										</div><!--news_item_title-->
										<div class="item_meta"><%= nintendoFeatureArticle.formatted_created_at %></div>
									</div><!--item_title_date-->
								</div><!--item_wrapper-->
								<div class="item_content"><%= nintendoFeatureArticle.subtitle.shortBody(10) %></div><!--item_content-->

							</div><!--feature_news_item-->
						</div><!--col-md-7-->
			   			
			   			<div class="col-md-5">
							<div class="media_wrapper">
								<% if(nintendoListArticles && nintendoListArticles.length > 0) { %>
									<% nintendoListArticles.forEach(article => { %>
										<div class="media">
											<div class="media-left">
												<a href="/single/<%= article.id %>">
													<img class="media-object" src="<%= article.image_src %>" alt="Generic placeholder image">
												</a>
											</div><!--media-left-->
											<div class="media-body">
												<h3 class="media-heading">
													<a href="/single/<%= article.id %>"><%= article.title %></a>
												</h3>

												<p><%= article.subtitle.shortBody(10) %></p>

											</div><!--media-body-->
										</div><!--media-->

									<% }); %>
								<% } else { %>
									<p>No category article data</p>
								<% } %>
							</div><!--media_wrapper-->
			   			</div><!--col-md-5-->
			   		</div><!--row-->
		   		</div><!--category_layout-->
		   	</div><!--col-md-9-->

			<%- include('layouts/aside') %>
		</div>
	</div>
	</section><!--feature_category_section-->

    <!-- Feature Video Item -->
    <section id="feature_video_item" class="feature_video_item section_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="feature_video_wrapper">
					<div class="feature_video_title"><h2>Videos</h2></div>

					<div id="feature_video_slider" class="owl-carousel">
						<% if(videoPreviews && videoPreviews.length > 0) { %>
							<% videoPreviews.forEach(preview => { %>
								<div class="item">
									<div class="video_thumb">
										<a href="/single/<%= preview.id %>">
											<img src="<%= preview.image_src %>" alt="Owl Image">
										</a>
									</div>
									<div class="video_info">
										<div class="video_item_title">
											<h3><a href="/single/<%= preview.id %>"><%= preview.title %></a></h3>
										</div><!--video_item_title-->
										<div class="item_meta"><%= preview.formatted_created_at  %></div><!--item_meta-->
									</div><!--video_info-->
								</div>
							<% }); %>
						<% } else { %>
							<p>No video thumbnail data</p>
						<% } %>
		            </div><!--feature_video_slider-->


		        </div><!--col-xs-12-->
	        </div><!--row-->
        </div><!--feature_video_wrapper-->
	</div><!--container-->
</section>

<%- include('layouts/footer') %>