<%- include('layouts/header', { title: 'Gamer Plus - Single'}) %>

	<!-- Feature Category Section & sidebar -->
	<section id="feature_category_section" class="feature_category_section single-page section_wrapper">
	<div class="container">   
		<div class="row">
		   	 <div class="col-md-9">
				<div class="single_content_layout">
					<% if(articleById) { %>
						<div class="item feature_news_item">
							<% if(articleById.media_external_ref && articleById.media_external_ref.includes("youtube")) { %>
								<div class="video-container">
									<iframe width="800" height="500" src="<%= articleById.media_external_ref %>" allowfullscreen></iframe>
								</div>
							<% } else { %>
								<div class="item_img">
									<img class="img-responsive" src="<%= articleById.media_src + '?width=800&height=500' %>" alt="Chania">
								</div><!--item_img-->
							<% } %>
							<div class="item_wrapper">
								<div class="news_item_title">
									<h2><%= articleById.title %></h2>
								</div><!--news_item_title-->
								<div class="item_meta"><%= articleById.formatted_created_at %></div>

								<div class="single_social_icon">
									<a href="https://www.facebook.com/" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook"></i><span>Facebook</span></a>
									<!--Twitter-->
									<a href="https://twitter.com/" target="_blank" class="icons-sm tw-ic"><i class="fa fa-twitter"></i><span>Twitter</span></a>
									<!--Google +-->
									<a href="https://plus.google.com/" target="_blank" class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>
									<!--Linkedin-->
									<a href="https://www.linkedin.com/" target="_blank" class="icons-sm li-ic"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>

								</div> <!--social_icon1-->

								<div class="item_content">
									<%= articleById.content %>
								</div><!--item_content-->
								<p style="font-size: 16px">
									<i class='fa fa-eye'></i> <%= views.views %> <%= Number(views.views) === 1 ? 'visita' : 'visitas' %>
								</p>
							</div><!--item_wrapper-->
						</div><!--feature_news_item-->
					<% } else { %>
						<p>No single article data</p>
					<% } %>
					
					<div class="single_related_news">
					 <div class="single_media_title"><h2>Noticias relacionadas</h2></div>
						<div class="media_wrapper">
							<% if(relatedArticles && relatedArticles.length > 0) { %>
								<% relatedArticles.forEach(article => { %>
									<div class="media">
										<div class="media-left">
											<a href="/single/<%= article.id %>">
												<img class="media-object" src="<%= article.image_src + '?width=80&height=80' %>" alt="Generic placeholder image">
											</a>
										</div><!--media-left-->
										<div class="media-body">
											<h4 class="media-heading">
												<a href="/single/<%= article.id %>"><%= article.title %></a>
											</h4>
											<div class="media_meta"><%= article.formatted_created_at %></div>
											<div class="media_content">
												<p><%= article.subtitle.shortBody(10) %></p>
											</div><!--media_content-->
										</div><!--media-body-->
									</div><!--media-->
								<% });%>
							<% } else { %>
								<p>No related articles data</p>
							<% } %>
						</div><!--media_wrapper-->
					</div><!--single_related_news-->


					<div class="ad">
						<% if(singleAd) { %>
							<a href="<%= singleAd.external_ref %>" target="_blank">
								<img class="img-responsive" src="<%= singleAd.image_src  %>" alt="Chania">
							</a>
						<% } else { %>
							<p>No single ad data</p>
						<% } %>
					</div>

					<% if(authorByArticleId) { %>
						<div class="readers_comment">
							<div class="single_media_title"><h2>Sobre el autor</h2></div>
							<div class="media">
								<div class="media-left">
									<img alt="Author image" class="media-object" src="<%= authorByArticleId.image_src %>">
								</div>
								<div class="media-body">
									<h2 class="media-heading"><%= authorByArticleId.first_name + " " + authorByArticleId.last_name %></h2>
									<h6>Especialidad: <%= authorByArticleId.specialty_name %></h6>
									<%= authorByArticleId.introduction %>
								</div>
							</div>
						</div><!--readers_comment-->
					<% } else { %>
						<p>No author data</p>
					<% }%>

				</div><!--single_content_layout-->
		   	 </div>

			<%- include('layouts/aside') %>
		</div>
	</div>
	</section><!--feature_category_section-->

<%- include('layouts/footer') %>